/* ---------------------------------------------- Font Import start */

@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Raleway&display=swap');

/* ---------------------------------------------- Font Import end */

/* ---------------------------------------------- Global Styling start */

body,
html {
    height: 100%;
    font-family: "Raleway", sans-serif;
    background-color: #000000;
}

/* --------------------- Navbar Styling start */

.nav-padding {
    padding: 0px 30px 0px 30px;
}

.logo-font{
  font-family: 'Lily Script One', sans-serif;
  font-size: 45px !important;
}

.logo-font li a {
    font-size: 25px;
}

.logo-font li a:hover {
    color: rgb(209, 148, 112);
}

.text-orange,
.active {
    color: #D95E16 !important;
}

.no-shadows {
    box-shadow: none!important;
}

/* --------------------- Navbar Styling end */

/* ---------------------------------------------- Global Styling end */

/* ---------------------------------------------- Index Styling start */

video {
  object-fit: cover;
  width: 100vw;
  height: 75vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* ---------------------------------------------- Index Styling end */

/* ---------------------------------------------- Media Queries start */

/* Between medium & large */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    nav ul a {
        padding: 0px 0px 0px 15px;
    }
}

/* Medium & down */
@media screen and (max-width: 992px) {
    .nav-padding {
        padding: 0px;
    }
}

/* Small & down */
@media screen and (max-width: 600px) {
    .logo-font{
        font-size: 35px !important;
    }
}

/* ---------------------------------------------- Media Queries end */