/* ---------------------------------------------- Font Import start */

@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Raleway&display=swap');

/* ---------------------------------------------- Font Import end */

/* ---------------------------------------------- Global Styling start */

body,
html {
    height: 100%;
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
}

.logo-font{
  font-family: 'Lily Script One', sans-serif;
}

/* ---------------------------------------------- Global Styling end */