/* ---------------------------------------------- Font Import start */

@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Raleway:wght@400;700;900&display=swap');

/* ---------------------------------------------- Font Import end */

/* ---------------------------------------------- Global Styling start */

body,
html {
    height: 100%;
    margin: 0;

    font-family: "Raleway", sans-serif;
    background-color: #000000;
}

/* --------------------- Navbar Styling start */

.navbar {
    background-color: transparent;
}

.logo-font{
    font-family: 'Lily Script One', sans-serif;
    font-size: 40px !important;
}

.logo-font li a {
    font-size: 25px;
}

.nav-link:hover,
.nav-link:focus {
    color: rgb(209, 148, 112) !important;
}

.nav-link.active:hover,
.active {
    color: #D95E16 !important;
}

/* --------------------- Navbar Styling end */

/* --------------------- Footer Styling start */

.footer-title-font{
    font-family: 'Lily Script One', sans-serif;
    font-size: 40px !important;
}

.footer-link:hover,
.footer-link:focus {
    color: rgb(209, 148, 112) !important;
    text-decoration: none;
}

/* --------------------- Footer Styling end */

/* --------------------- Colours Styling start */

.bg-off-black {
    background-color: #181717;
}

.bg-black-extra,
.bg-black {
    background-color: #070707;
}

.bg-off-white {
    background-color: rgb(216, 207, 203);
}


/* --------------------- Colours Styling end */

/* ---------------------------------------------- Global Styling end */

/* ---------------------------------------------- Index Styling start */

.full-screen-video-container {
    position: relative;
    height: 90vh;
    width: 100vw;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.full-screen-video-container video {
    position: absolute;

    height: 90vh;
    min-width: 100%;
    
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);

    z-index: 0;

    object-fit: cover;
}

.full-screen-video-content {
    height: 90vh;

    z-index: 1;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-text {
    font-weight: bold;
    font-size: 70px;
}

.landing-text-author {
    font-style: italic;
    font-weight: 800;
    font-size: 50px;

    display: block;
}

.sub-section-header {
    font-weight: 900;
    font-size: 100px;
}

.sub-section-text {
    font-weight: bold;
    font-size: 30px;
    line-height: 47px;
}

/* ---------------------------------------------- Index Styling end */

/* ---------------------------------------------- Media Queries start */

/* Medium & down */
@media screen and (max-width: 992px) {
    .sub-section-text {
        font-size: 25px;
        line-height: 35px;
    }
}

/* Small & down */
@media screen and (max-width: 600px) {
    .logo-font{
        font-size: 30px !important;
    }
    .landing-text {
        font-size: 50px;
    }
    .landing-text-author {
        font-size: 35px;
    }
    .sub-section-header {
        font-weight: 900;
        font-size: 60px;
    }
    .sub-section-text {
        font-size: 20px;
        line-height: 25px;
    }
}

/* ---------------------------------------------- Media Queries end */