{% extends "base.html" %}

{% block extra_title %}| Edit Recipe{% endblock %}

{% block content %}
    <!-- Recipe Section -->
    <section id="recipe">
        <div class="landing-image">
            <div class="container">
                <div class="row align-items-center custom-form-row">
                    <!-- Recipe Form start -->
                    <form class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-center" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                        name="recipe">
                        <div class="card white-grey-card p-3">
                            <h3 class="title-font text-body card-title-font mb-4">Edit Recipe</h3>
                            <div class="container text-body">
                                <div class="form-row mx-auto">
                                    <!-- Recipe Name -->
                                    <div class="col-12 col-md-10 mx-auto mb-2">
                                        <input id="recipename" name="recipename" type="text" placeholder="Recipe Name"
                                            class="form-control custom-input" value="{{ recipe.name|title }}" required>
                                    </div>
                                    <!-- Category Name -->
                                    <div class="col-12 col-md-10 mx-auto mb-2">
                                        <select id="category" name="category" class="form-control custom-input" required>
                                            {% for category in categories %}
                                                {% if category.category == recipe.category %}
                                                    <option value="{{ category.category }}" selected>{{ category.category|title }}</option>
                                                {% else %}
                                                    <option value="{{ category.category }}">{{ category.category|title }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- Recipe Description -->
                                    <div class="col-12 col-md-10 mx-auto mb-2">
                                        <textarea id="recipedesc" name="recipedesc" type="text" placeholder="Recipe Description"
                                            class="form-control custom-input" max="250" required>{{ recipe.description|capitalize }}</textarea>
                                    </div>
                                    <div class=" col-12 col-md-10 mx-auto">
                                        <div class="row">
                                            <!-- Prep Time -->
                                            <div class="col-12 col-md-6 mb-2">
                                                <input id="preptime" name="preptime" type="number" placeholder="Prep Time (Mins)"
                                                    class="form-control custom-input" value="{{ recipe.prep_time }}" required
                                                    min="1" max="240">
                                            </div>
                                            <!-- Cook Time -->
                                            <div class="col-12 col-md-6 mb-2">
                                                <input id="cooktime" name="cooktime" type="number" placeholder="Cook Time (Hours)"
                                                    class="form-control custom-input" value="{{ recipe.cook_time }}" require
                                                    min="0" max="24" step=".1">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Recipe URL -->
                                    <div class="col-12 col-md-10 mx-auto mb-2">
                                        <input id="imageurl" name="imageurl" type="url" placeholder="Recipe Image URL"
                                            class="form-control custom-input" value="{{ recipe.image_url }}" required>
                                    </div>
                                    <!-- Ingridients -->
                                    <div class="col-12 col-md-10 mx-auto">
                                        <div id="new_ing_input" class="row">
                                            <input type="hidden" value="{{ recipe_ings|length }}" id="total_ing_input" name="total_ing_input">
                                            <div class="col-12 mb-1">
                                                <label for="ingridients1" class="title-font mb-0">List of Ingridients</label>
                                                <div class="d-block d-sm-inline-block">
                                                    <button type="button" class="btn bg-success btn-sm text-white add-ing">Add</button>
                                                    <button type="button" class="btn bg-danger btn-sm text-white remove-ing">Remove</button>
                                                </div>
                                            </div>
                                            {% for ingridient in recipe_ings %}
                                            <div id="ingridients_div{{ loop.index }}" class="col-12 col-md-6 mb-2">
                                                <input id="ingridients{{loop.counter}}" name="ingridients{{ loop.index }}" type="text" placeholder="Ingridient (E.g. Beef - 500g)"
                                                class="form-control custom-input" value="{{ ingridient }}" required>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- Steps -->
                                    <div class="col-12 col-md-10 mx-auto">
                                        <div id="new_steps_input" class="row">
                                            <input type="hidden" value="{{ recipe_steps|length }}" id="total_steps_input" name="total_steps_input">
                                            <div class="col-12 mb-1">
                                                <label for="steps1" class="title-font mb-0">List of Cooking Steps</label>
                                                <div class="d-block d-sm-inline-block">
                                                    <button type="button" class="btn bg-success btn-sm text-white add-steps">Add</button>
                                                    <button type="button" class="btn bg-danger btn-sm text-white remove-steps">Remove</button>
                                                </div>
                                            </div>
                                            {% for step in recipe_steps %}
                                            <div id="step_div{{ loop.index }}" class="col-12 col-md-6 mb-2">
                                                <textarea id="steps{{ loop.index }}" name="steps{{ loop.index }}" type="text" placeholder="Cooking Steps"
                                                class="form-control custom-input" required>{{ step }}</textarea>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ url_for('profile', username=session['user']) }}" class="btn custom-btn-danger box-shadow text-white pl-3 pr-3">Cancel</a>
                                <button type="submit" class="btn bg-custom-orange custom-btn box-shadow text-white pl-3 pr-3">Save</button>
                            </div>
                        </div>
                    </form>
                    <!-- Recipe Form end -->
                </div>
            </div>
        </div>
    </section>
    <!-- Recipe Section end -->
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/recipe.js') }}"></script>
{% endblock %}