{% extends "base.html" %}

{% block content %}
<!-- Landing Video -->
<!-- basic video landing image code taken from  https://codepen.io/WebDevSimplified/pen/oaxjQb -->
<section id="landing-video" class="full-screen-video-container container-fluid no-gutters">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="{{ url_for('static', filename='media/video/billowing-smoke.mp4') }}" type="video/mp4">
    </video>
    <div class="full-screen-video-content">
        <div class="w-100 text-white">
            <h1 class="landing-text">
                “Freedom Lies In Barbeque”
                <span class="landing-text-author">
                    Robert Frost
                </span>
            </h1>
        </div>
    </div>
</section>
<!-- Landing Video end -->

<!-- Recipe Sub Section -->
<section id="recipe-header" class="bg-light container-fluid">
    <div class="w-100">
        <h1>Recipes</h1>
    </div>

</section>
<!-- Recipe Sub Section end -->
{% endblock %}
