{% extends "base.html" %}

{% block content %}
<!-- Landing Video -->
<!-- basic video landing image code taken from  https://codepen.io/WebDevSimplified/pen/oaxjQb -->
<section id="landing-video" class="full-screen-video-container container-fluid no-gutters">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="{{ url_for('static', filename='media/video/billowing-smoke.mp4') }}" type="video/mp4">
    </video>
    <div class="full-screen-video-content">
        <div class="w-100 text-white">
            <h1 class="landing-text">
                “{{ quote.quote|title }}”
                <span class="landing-text-author">
                    {{ quote.author|title }}
                </span>
            </h1>
        </div>
    </div>
</section>
<!-- Landing Video end -->

<!-- Recipe Sub Section -->
<section id="recipe-header" class="bg-off-white">
    <div class="container">
        <div class="w-100 text-center">
            <h1 class="sub-section-header text-uppercase pt-4 pb-2 mb-0">Recipes</h1>
        </div>
        <div class="w-100 text-center pb-5 mb-0">
            <p class="sub-section-text mb-0">Looking for inspiration for your next meal? <br>
                We've got a wide range of fantastic recipes to impress all your friends; from beef to chicken through to
                fish.</p>
        </div>
    </div>
</section>
<!-- Recipe Sub Section end -->
{% endblock %}
