{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" type="text/css">
{% endblock %}

{% block content %}
    <!-- Landing Video -->
    <!-- basic video landing image code taken from https://codepen.io/WebDevSimplified/pen/oaxjQb -->
    <section id="landing-video" class="full-screen-video-container container-fluid no-gutters">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ url_for('static', filename='media/video/billowing-smoke.mp4') }}" type="video/mp4">
        </video>
        <div class="full-screen-video-content">
            <div class="w-100 text-white">
                <h1 class="landing-text">
                    “{{ quote.quote|title }}”
                    <span class="landing-text-author">
                        {{ quote.author|title }}
                    </span>
                </h1>
            </div>
        </div>
    </section>
    <!-- Landing Video end -->

    <!-- Recipe Sub Section -->
    <section id="recipe-header" class="bg-off-white">
        <div class="container">
            <div class="row w-100 m-0">
                <div class="col-12 text-center">
                    <h1 class="sub-section-header text-uppercase pt-4 pb-2 mb-0">Recipes</h1>
                </div>
                <div class="col-12 text-center pb-5 mb-0">
                    <p class="sub-section-text mb-0">Looking for inspiration for your next meal? <br>
                        We've got a wide range of fantastic recipes to impress all your friends; from beef to chicken through to
                        fish.</p>
                </div>
            </div>
        </div>
        <!-- Recipe Cards Carousel Section -->
        <!-- basic card carousel code taken from https://github.com/ganlanyuan/tiny-slider -->
        <div class="w-100 bg-light">
            <div class="container" data-aos="fade-up">
                <div class="row mx-1 recipe-slider mt-5 mb-5">
                    {% for recipe in recipes %}
                        <div class="card-outer">
                            <div class="card box-shadow">
                                <img src="{{ recipe.image_url }}" onerror="this.src='{{ url_for('static', filename='media/images/default.jpg') }}'" class="card-img-top custom-card-image" alt="{{ recipe.name }}">
                                <div class="card-body text-center bg-off-white">
                                    <h5 class="card-title font-weight-bold">{{ recipe.name|title }}</h5>
                                    <a href="#" class="btn title-font custom-btn bg-custom-orange individual-item-btn box-shadow text-white pl-4 pr-4">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <ul class="controls justify-content-center p-0 mb-0" id="custom-controls" aria-label="Carousel Navigation" tabindex="0">
                    <li class="prev card-control pr-3" data-controls="prev" aria-controls="customize" tabindex="-1">
                        <i class="fas fa-caret-left fa-3x ml-2 mr-2"></i>
                    </li>
                    <li class="next card-control pl-3" data-controls="next" aria-controls="customize" tabindex="-1">
                        <i class="fas fa-caret-right fa-3x ml-2 mr-2"></i>
                    </li>
                </ul>
                <div class="row justify-content-center pb-5">
                    <a href="{{ url_for('recipes') }}" class="btn title-font custom-btn view-all-btn bg-custom-orange box-shadow text-white pl-3 pr-3">Find all the recipes!</a>
                </div>
            </div>
        </div>
        <!-- Recipe Cards Carousel Section end -->
    </section>
    <!-- Recipe Sub Section end -->

    <!-- Products Sub Section -->
    <section id="products-header" class="bg-off-white">
        <div class="container">
            <div class="row w-100 m-0">
                <div class="col-12 text-center">
                    <h1 class="sub-section-header text-uppercase pt-4 pb-2 mb-0">Products</h1>
                </div>
                <div class="col-12 text-center pb-5 mb-0">
                    <p class="sub-section-text mb-0">Want to find the best equipment and rubs to seriosuly impress your friends, find our
                        list of reccomended products below...</p>
                </div>
            </div>
        </div>
        <!-- Products Cards Carousel Section -->
        <!-- basic card carousel code taken from https://github.com/ganlanyuan/tiny-slider -->
        <div class="w-100 bg-light">
            <div class="container" data-aos="fade-up">
                <div class="row mx-1 product-slider mt-5 mb-5">
                    <div class="card-outer">
                        <div class="card box-shadow">
                            <img src="https://placeimg.com/200/150/any" class="card-img-top" alt="...">
                            <div class="card-body text-center bg-off-white">
                                <h5 class="card-title font-weight-bold">Card title 1</h5>
                                <p class="font-italic">Card Category</p>
                                <a href="#" class="btn title-font custom-btn bg-custom-orange individual-item-btn box-shadow text-white pl-4 pr-4">Click To Buy</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-outer">
                        <div class="card">
                            <img src="https://placeimg.com/200/150/any" class="card-img-top" alt="...">
                            <div class="card-body text-center bg-off-white">
                                <h5 class="card-title font-weight-bold">Card title 1</h5>
                                <a href="#" class="btn btn-font custom-btn bg-custom-orange text-white pl-4 pr-4">View This Recipe</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-outer">
                        <div class="card">
                            <img src="https://placeimg.com/200/150/any" class="card-img-top" alt="...">
                            <div class="card-body text-center bg-off-white">
                                <h5 class="card-title font-weight-bold">Card title 1</h5>
                                <a href="#" class="btn btn-font custom-btn bg-custom-orange text-white pl-4 pr-4">View Recipe</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-outer">
                        <div class="card">
                            <img src="https://placeimg.com/200/150/any" class="card-img-top" alt="...">
                            <div class="card-body text-center bg-off-white">
                                <h5 class="card-title font-weight-bold">Card title 1</h5>
                                <a href="#" class="btn btn-font custom-btn bg-custom-orange text-white pl-4 pr-4">View Recipe</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-outer">
                        <div class="card">
                            <img src="https://placeimg.com/200/150/any" class="card-img-top" alt="...">
                            <div class="card-body text-center bg-off-white">
                                <h5 class="card-title font-weight-bold">Card title 1</h5>
                                <a href="#" class="btn btn-font custom-btn bg-custom-orange text-white pl-4 pr-4">View Recipe</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-outer">
                        <div class="card">
                            <img src="https://placeimg.com/200/150/any" class="card-img-top" alt="...">
                            <div class="card-body text-center bg-off-white">
                                <h5 class="card-title font-weight-bold">Card title 1</h5>
                                <a href="#" class="btn btn-font custom-btn bg-custom-orange text-white pl-4 pr-4">View Recipe</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-outer">
                        <div class="card">
                            <img src="https://placeimg.com/200/150/any" class="card-img-top" alt="...">
                            <div class="card-body text-center bg-off-white">
                                <h5 class="card-title font-weight-bold">Card title 1</h5>
                                <a href="#" class="btn btn-font custom-btn bg-custom-orange text-white pl-4 pr-4">View Recipe</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-outer">
                        <div class="card">
                            <img src="https://placeimg.com/200/150/any" class="card-img-top" alt="...">
                            <div class="card-body text-center bg-off-white">
                                <h5 class="card-title font-weight-bold">Card title 1</h5>
                                <a href="#" class="btn btn-font custom-btn bg-custom-orange text-white pl-4 pr-4">View Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="controls justify-content-center p-0 mb-0" id="custom-controls2" aria-label="Carousel Navigation" tabindex="0">
                    <li class="prev card-control pr-3" data-controls="prev" aria-controls="customize" tabindex="-1">
                        <i class="fas fa-caret-left fa-3x ml-2 mr-2"></i>
                    </li>
                    <li class="next card-control pl-3" data-controls="next" aria-controls="customize" tabindex="-1">
                        <i class="fas fa-caret-right fa-3x ml-2 mr-2"></i>
                    </li>
                </ul>
                <div class="row justify-content-center pb-5">
                    <a href="{{ url_for('products') }}" class="btn title-font custom-btn view-all-btn bg-custom-orange box-shadow text-white pl-3 pr-3">View all products!</a>
                </div>
            </div>
        </div>
        <!-- Products Cards Carousel Section end -->
    </section>
    <!-- Products Sub Section end -->
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"
        integrity="sha512-D/zaRVk05q6ERt1JgWB49kL6tyerY7a94egaVv6ObiGcw3OCEv0tvoPDEsVqL28HyAZhDd483ix8gkWQGDgEKw=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}