{% extends "base.html" %}

{% block extra_title %}| Login{% endblock %}

{% block content %}
    <!-- Login Section -->
    <section id="login" class="full-page-container container-fluid no-gutters">
        <img src="{{ url_for('static', filename='media/images/smoke.jpg') }}" alt="a picture of wisps of smoke">
        <div class="full-page-content">
            <div class="w-100 text-white">
                <div class="row">
                    <form class="col-12 col-md-6 offset-md-3" method="POST" action="{{ url_for('login') }}">
                        <div class="card white-grey-card p-3">
                            <h3 class="title-font text-body card-title mb-0">Login</h3>
                            <hr class="mx-auto w-75 border-dark">
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section end -->
{% endblock %}
