{% extends "base.html" %}

{% block extra_title %}| Login{% endblock %}

{% block content %}
    <!-- Landing Video -->
    <!-- basic video landing image code taken from https://codepen.io/WebDevSimplified/pen/oaxjQb -->
    <section id="landing-video" class="full-screen-video-container container-fluid no-gutters">
        <div class="full-screen-video-content">
            <div class="w-100 text-white">
                <h1 class="landing-text">
                    Login
                </h1>
            </div>
        </div>
    </section>
    <!-- Landing Video end -->
{% endblock %}
