{% extends "base.html" %}

{% block extra_title %}| Products{% endblock %}

{% block content %}
    <!-- Landing Image -->
    <section id="landing-image" class="container-fluid no-gutters image-landing-container">
        <img src="{{ url_for('static', filename='media/images/products.jpg') }}" alt="picture of a smoking bbq">
        <div class="image-content overlay">
            <div class="w-100 text-white">
                <h1 class="image-landing-text text-uppercase">
                    Products
                </h1>
            </div>
        </div>
    </section>
    <!-- Landing Image end -->

    <!-- Products Section -->
    <section id="products-header" class="bg-off-white">
        <div class="container">

            <!-- Products Filter Section -->
            <div class="row w-100 m-0">
                <div class="col-12 col-md-8 offset-md-2 text-center filter mt-4 mb-3">
                    <h5 class="pt-3 title-font filter-title">Select A Filter</h5>
                    <div class="inner-filter pt-2 pb-3">
                        <div class="filter-group pb-3">
                            {% for obj in categories %}
                                <a href="{{ url_for('products_filter', category=obj.category)}}" class="btn custom-btn bg-custom-orange box-shadow text-white font-weight-bold pl-3 pr-3 ml-2 mr-2">{{ obj.category|title }}</a>
                            {% endfor %}
                        </div>
                        <!-- Filter Selected start -->
                        {% if filter %}
                            <h5 class="title-font">Filter: {{ filter|title }} <a href="{{ url_for('products') }}"><i class="fas fa-times-circle pl-1 text-danger"></i></a></h5>
                        {% endif %}
                        <!-- Filter Selected end -->
                    </div>
                </div>
            </div>
            <!-- Products Filter Section end -->

        </div>
        <div class="container">
            <div class="row mx-1 mt-3">

                <!-- Product for loop start -->
                {% if products|length > 0 %}
                    {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-5 ">
                            <div class="card-outer box-shadow">
                                <div class="card">
                                    <img src="{{ product.image_url }}"
                                            onerror="this.src='{{ url_for('static', filename='media/images/default_product.jpg') }}'"
                                            class="card-img-top custom-card-image"
                                            alt="{{ product.name }}">
                                    <div class="card-body card-body-height text-center bg-light">
                                        <h5 class="card-title font-weight-bold">{{ product.name|title }}</h5>
                                        <h5 class="card-title font-weight-bold font-italic"><small>{{ product.category|title }}</small></h5>
                                        <p>{{ product.description|capitalize }}</p>
                                        <a href="{{ product.purchase }}"
                                            class="btn title-font custom-btn bg-custom-orange individual-item-btn box-shadow text-white pl-4 pr-4"
                                            target="_blank">Buy This!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- Product for loop end -->

                <!-- Pagination -->
                <div class="col-12 text-center">
                    <h5 class="title-font">Number of products: {{ results }}</h5>
                    <nav aria-label="Page navigation" class="pt-2 col-12">
                        <ul class="pagination justify-content-center">
                        {% if prev %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('products') }}{{ prev }}" aria-label="Previous">
                                    <span aria-hidden="true" class="text-body">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if page %}
                        <li class="page-item"><a class="page-link text-body font-weight-bold" href="">{{ page }}</a></li>
                        {% endif %}
                        {% if next %}
                            <li class="page-item">
                                    <a class="page-link" href="{{ url_for('products') }}{{ next }}" aria-label="Next">
                                        <span aria-hidden="true" class="text-body">&raquo;</span>
                                    </a>
                                </li>
                        {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- Pagination end -->

            </div>
        </div>
    </section>
    <!-- Products Section end -->

{% endblock %}
