{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" type="text/css">
{% endblock %}

{% block extra_title %}| Recipes{% endblock %}

{% block content %}
    <!-- Landing Image -->
    <section id="landing-image" class="container-fluid no-gutters recipe-landing-container">
        <img src="{{ url_for('static', filename='media/images/recipes.jpg') }}" alt="picture of sliced steak">
        <div class="recipe-content overlay">
            <div class="w-100 text-white">
                <h1 class="recipe-landing-text text-uppercase">
                    Recipes
                </h1>
            </div>
        </div>
    </section>
    <!-- Landing Image end -->

    <!-- Recipes Section -->
    <section id="recipe-header" class="bg-off-white">
        <div class="container">
            <div class="row w-100 m-0">
                <div class="col-12 text-center filter mt-4 mb-3">
                    <h5 class="pt-3 title-font filter-title">Select A Filter</h5>
                    <div class="inner-filter pt-2 pb-3">
                        <div class="filter-group pb-3">
                            <a href="" class="btn custom-btn bg-custom-orange text-white font-weight-bold pl-3 pr-3">Beef</a>
                        </div>
                        <h5 class="title-font filter-title">Or...</h5>
                        <div class=" mx-auto input-group custom-width mb-3">
                            <input type="text" class="form-control custom-input" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn bg-custom-orange text-white custom-input search" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recipes Section end -->

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://unpkg.com/aos@next/dist/aos.js"></script>
{% endblock %}