{% extends "base.html" %}

{% block extra_title %}| Recipes{% endblock %}

{% block content %}
    <!-- Landing Image -->
    <section id="landing-image" class="container-fluid no-gutters image-landing-container">
        <img src="{{ url_for('static', filename='media/images/recipes.jpg') }}" alt="picture of sliced steak">
        <div class="image-content overlay">
            <div class="w-100 text-white">
                <h1 id="recipe" class="image-landing-text text-uppercase">
                    Recipes
                </h1>
            </div>
        </div>
    </section>
    <!-- Landing Image end -->

    <!-- Recipes Section -->
    <section id="recipe-header" class="bg-off-white">
        <div class="container">
            <div class="row w-100 m-0">
                <div class="col-12 text-center filter mt-4 mb-3">
                    <h5 class="pt-3 title-font filter-title">Select A Filter</h5>
                    <div class="inner-filter pt-2 pb-3">
                        <div class="filter-group pb-3">
                            {% for category in categories %}
                            <a href="{{ url_for('recipes_filter', category=category.category)}}" class="btn custom-btn bg-custom-orange box-shadow text-white font-weight-bold pl-3 pr-3 ml-2 mr-2">{{ category.category|title }}</a>
                            {% endfor %}
                        </div>
                        <h5 class="title-font filter-title">Or...</h5>
                        <form method="GET" action="{{ url_for('recipes_search') }}">
                            <div class=" mx-auto input-group custom-width mb-3">
                                <input type="text" class="form-control custom-input" placeholder="Search By Recipe Name" aria-label="Search" id="q" minlength="3" name="q">
                                <div class="input-group-append">
                                    <button class="btn bg-custom-orange text-white custom-input search" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mx-1 mt-3">
                <!-- Filter Options -->
                <div class="col-12 text-center">
                    {% if filter %}
                        <h5 class="title-font">Filter: {{ filter|title }} <a href="{{ url_for('recipes') }}"><i class="fas fa-times-circle pl-1 text-danger"></i></a></h5>
                    {% elif query %}
                        {% if recipes|length == 0 %}
                            <h5 class="title-font text-danger">No Results Found!</h5>
                        {% else %}
                            <h5 class="title-font">Query: {{ query|title }} <a href="{{ url_for('recipes') }}"><i class="fas fa-times-circle pl-1 text-danger"></i></a></h5>
                        {% endif %}
                    {% endif %}
                    <h5 class="title-font">Number of recipes: {{ results }}</h5>
                    <!-- Filter Options end -->
                    <!-- Pagination -->
                    <nav aria-label="Page navigation" class="pt-2">
                        <ul class="pagination justify-content-center">
                        {% if prev %}
                            {% if request.path == url_for('recipes_filter', category=filter) %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('recipes_filter', category=filter) }}{{ prev }}" aria-label="Previous">
                                    <span aria-hidden="true" class="text-body">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('recipes') }}{{ prev }}" aria-label="Previous">
                                    <span aria-hidden="true" class="text-body">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        {% endif %}
                        {% if page %}
                        <li class="page-item"><a class="page-link text-body font-weight-bold" href="#">{{ page }}</a></li>
                        {% endif %}
                        {% if next %}
                            {% if request.path == url_for('recipes_filter', category=filter) %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('recipes_filter', category=filter) }}{{ next }}" aria-label="Next">
                                        <span aria-hidden="true" class="text-body">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('recipes') }}{{ next }}" aria-label="Next">
                                        <span aria-hidden="true" class="text-body">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                        </ul>
                    </nav>
                    <!-- Pagination end -->
                </div>
                <!-- recipes For Loop start -->
                {% if recipes|length > 0 %}
                    {% for recipe in recipes %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-5 ">
                            <div class="card-outer box-shadow">
                                <div class="card">
                                    <img src="{{ recipe.image_url }}" onerror="this.src='{{ url_for('static', filename='media/images/default.jpg') }}'" class="card-img-top custom-card-image" alt="{{ recipe.name }}">
                                    <div class="card-body text-center bg-light">
                                        <h5 class="card-title font-weight-bold">{{ recipe.name|title }}</h5>
                                        <a href="#"
                                            class="btn title-font custom-btn bg-custom-orange individual-item-btn box-shadow text-white pl-4 pr-4">Lets Start Cooking</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- recipes For Loop end -->
                <!-- Pagination -->
                <nav aria-label="Page navigation" class="pt-2 col-12">
                    <ul class="pagination justify-content-center">
                        {% if prev %}
                            {% if request.path == url_for('recipes_filter', category=filter) %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('recipes_filter', category=filter) }}{{ prev }}" aria-label="Previous">
                                    <span aria-hidden="true" class="text-body">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('recipes') }}{{ prev }}" aria-label="Previous">
                                    <span aria-hidden="true" class="text-body">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        {% endif %}
                        {% if page %}
                        <li class="page-item"><a class="page-link text-body font-weight-bold" href="#">{{ page }}</a></li>
                        {% endif %}
                        {% if next %}
                            {% if request.path == url_for('recipes_filter', category=filter) %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('recipes_filter', category=filter) }}{{ next }}" aria-label="Next">
                                        <span aria-hidden="true" class="text-body">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('recipes') }}{{ next }}" aria-label="Next">
                                        <span aria-hidden="true" class="text-body">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </nav>
                <!-- Pagination end -->
            </div>
            <div class="row mx-1 pb-5">
                <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 text-center">
                    {% if session.user %}
                        <p class="sub-section-text mb-0 text-center">Not impressed with the recipes you’ve found or simply want to show off your masterful
                            recipe. Add a recipe with the link below.</p>
                        <a href="{{ url_for('add_recipe') }}" class="btn title-font custom-btn view-all-btn bg-custom-orange box-shadow text-white pl-3 pr-3 mt-3">Add Recipe!</a>
                    {% else %}
                        <p class="sub-section-text mb-0 text-center">If you want to share a masterful recipe of your own, sign in or sign up!</p>
                        <a href="{{ url_for('login') }}" class="btn title-font custom-btn view-all-btn bg-custom-orange box-shadow text-white pl-3 pr-3 mr-2 mt-3">Sign In!</a>
                        <a href="{{ url_for('register') }}" class="btn title-font custom-btn view-all-btn bg-custom-orange box-shadow text-white pl-3 pr-3 ml-2 mt-3">Sign Up!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Recipes Section end -->

{% endblock %}
