{% extends "base.html" %}

{% block extra_title %}| Register{% endblock %}

{% block content %}
    <!-- Register Section -->
    <section id="register">
        <div class="landing-image">
            <div class="container">
                <div class="row align-items-center custom-form-row">
                    <!-- Registration Form start -->
                    <form class="col-12 col-md-8 offset-md-2 text-center" method="POST" action="{{ url_for('register') }}"
                        name="registration">
                        <div class="card white-grey-card p-3">
                            <h3 class="title-font text-body card-title-font mb-4">Register</h3>
                            <div class="container text-body">
                                <div class="form-row mx-auto">
                                    <!-- First Name -->
                                    <div class="col-12 col-lg-5 input-box mx-auto">
                                        <input id="firstname" name="firstname" type="text" class="form-control custom-input valid-border" required>
                                        <span class="">First Name</span>
                                    </div>
                                    <!-- Last Name -->
                                    <div class="col-12 col-lg-5 input-box mx-auto">
                                        <input id="lastname" name="lastname" type="text" class="form-control custom-input valid-border" required>
                                        <span class="">Last Name</span>
                                    </div>
                                    <!-- Username -->
                                    <div class="col-12 col-lg-5 input-box mx-auto">
                                        <input id="username" name="username" type="text" class="form-control custom-input valid-border"
                                            pattern="^[a-zA-Z0-9]{5,15}$" autocomplete="nope" required>
                                        <span class="">Username</span>
                                    </div>
                                    <!-- Email -->
                                    <div class="col-12 col-lg-5 input-box mx-auto">
                                        <input id="email" name="email" type="email" class="form-control custom-input valid-border" required>
                                        <span class="">Email</span>
                                    </div>
                                    <!-- Password -->
                                    <div class="col-12 col-lg-5 input-box mx-auto">
                                        <input id="password" name="password" type="password" class="form-control custom-input valid-border"
                                            pattern="^[a-zA-Z0-9]{5,15}$" required>
                                        <span class="">Password</span>
                                    </div>
                                    <!-- Repeat Password -->
                                    <div class="col-12 col-lg-5 input-box mx-auto">
                                        <input id="password2" name="password2" type="password" class="form-control custom-input valid-border"
                                            pattern="^[a-zA-Z0-9]{5,15}$" required>
                                        <span class="">Confirm Password</span>
                                    </div>
                                </div>
                                <button type="submit" class="btn bg-custom-orange custom-btn box-shadow text-white pl-3 pr-3">Sign Up</button>
                                <hr class="border-dark w-75 mx-auto">
                                <div class="col-12">
                                    <p>Already registered, <a class="text-body" href="{{ url_for('login') }}"><strong>click here.</strong></a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Registration Form end -->
                </div>
            </div>
        </div>
    </section>
    <!-- Register Section end -->
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
        integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}